@use "../utils/" as u;

.form {
  background-color: var(--dark-grey);
  margin-block-start: u.rem(16);
  padding: u.rem(16);

  @include u.breakpoint(medium) {
    padding: u.rem(24) u.rem(32) u.rem(32);
    margin-block-start: u.rem(24);
  }

  .length {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-size: u.rem(16);
      line-height: u.rem(21);
      color: var(--almost-white);

      @include u.breakpoint(medium) {
        font-size: u.rem(18);
        line-height: u.rem(24);
      }
    }

    &__number {
      display: block;
      font-size: u.rem(24);
      line-height: u.rem(32);
      color: var(--neon-green);

      @include u.breakpoint(medium) {
        font-size: u.rem(32);
        line-height: u.rem(42);
      }
    }
  }

  .checks {
    display: grid;
    margin-block-start: u.rem(32);
    gap: u.rem(16);

    @include u.breakpoint(medium) {
      gap: u.rem(19);
    }

    label {
      display: flex;
      align-items: center;
      gap: u.rem(24);
      font-size: u.rem(16);
      line-height: u.rem(21);
      color: var(--almost-white);

      @include u.breakpoint(medium) {
        font-size: u.rem(18);
        line-height: u.rem(24);
      }
    }

    input[type="checkbox"] {
      appearance: none;
      border: 2px solid var(--almost-white);
      width: 20px;
      height: 20px;

      &:checked {
        background-color: var(--neon-green);
        border-color: var(--neon-green);
        background-image: url(/assets/images/icon-check.svg);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        cursor: pointer;
        border-color: var(--neon-green);
      }
    }
  }

  .strength {
    margin-block-start: u.rem(32);
    background-color: var(--very-dark-grey);
    padding: u.rem(14) u.rem(16);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint(medium) {
      padding: u.rem(24) u.rem(32);
    }

    &__text {
      font-size: u.rem(16);
      line-height: u.rem(21);
      color: var(--grey);

      @include u.breakpoint(medium) {
        font-size: u.rem(18);
        line-height: u.rem(24);
      }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: u.rem(16);

      &__text {
        font-size: u.rem(18);
        line-height: u.rem(24);
        color: var(--almost-white);

        @include u.breakpoint(medium) {
          font-size: u.rem(24);
          line-height: u.rem(32);
        }
      }

      &__bars {
        display: flex;
        gap: u.rem(8);
      }

      &__bar {
        border: 2px solid var(--almost-white);
        width: u.rem(10);
        height: u.rem(28);
      }

      .too-weak {
        background-color: var(--red);
        border-color: var(--red);
      }
      .weak {
        background-color: var(--orange);
        border-color: var(--orange);
      }

      .medium {
        background-color: var(--yellow);
        border-color: var(--yellow);
      }
      .strong {
        background-color: var(--neon-green);
        border-color: var(--neon-green);
      }
    }
  }

  .button {
    width: 100%;
    margin-block-start: u.rem(16);
    background-color: var(--neon-green);
    border: 2px solid var(--neon-green);
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-size: u.rem(16);
    line-height: u.rem(21);
    text-transform: uppercase;
    color: var(--dark-grey);
    padding: u.rem(15);
    background-image: url(/assets/images/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: top 49% left calc(50% + 60px);

    @include u.breakpoint(medium) {
      margin-block-start: u.rem(32);
      padding: u.rem(19);
      font-size: u.rem(18);
      line-height: u.rem(24);
      background-position: top 49% left calc(50% + 70px);
    }

    &:hover {
      cursor: pointer;
      background-image: url(/assets/images/icon-arrow-right-green.svg);
      background-color: var(--dark-grey);
      color: var(--neon-green);
    }
  }
}
